In [69]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score

In [70]:
df = pd.read_csv("spam.csv", encoding="latin-1")

In [71]:
df.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [72]:
df= df[['v1', 'v2']]
df = df.rename(columns={'v1': 'spam', 'v2': 'text'})

In [73]:
df.head()

   spam                                               text
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [74]:
df.shape

(5572, 2)

In [75]:
df.columns

Index(['spam', 'text'], dtype='object')

In [76]:
df.drop_duplicates(inplace=True)
print(df.shape)

(5169, 2)

In [77]:
print(df.isnull().sum())

spam    0
text    0
dtype: int64

In [78]:
df['spam'] = df['spam'].map({'ham': 0, 'spam': 1})

In [79]:
X = df['text']
X

0       Go until jurong point, crazy.. Available only ...
1                           Ok lar... Joking wif u oni...
2       Free entry in 2 a wkly comp to win FA Cup fina...
3       U dun say so early hor... U c already then say...
4       Nah I don't think he goes to usf, he lives aro...
                              ...
5567    This is the 2nd time we have tried 2 contact u...
5568                Will ÃŒ_ b going to esplanade fr home?
5569    Pity, * was in mood for that. So...any other s...
5570    The guy did some bitching but I acted like i'd...
5571                           Rofl. Its true to its name
Name: text, Length: 5169, dtype: object

In [80]:
Y = df["spam"]
Y

0       0
1       0
2       1
3       0
4       0
       ..
5567    1
5568    0
5569    0
5570    0
5571    0
Name: spam, Length: 5169, dtype: int64

#Train Test Split

In [81]:
X_train, X_test, Y_train, Y_test  =  train_test_split(X,Y, train_size=0.8, test_size=0.2, random_state=3)

#Feature Extraction

In [82]:
feature_extraction = TfidfVectorizer(min_df = 1, stop_words = 'english', lowercase = 'True')
X_train_features = feature_extraction.fit_transform(X_train)
X_test_features = feature_extraction.transform(X_test)

#Train the Suppor Vector Machine model

In [83]:
model = LinearSVC()
model.fit(X_train_features, Y_train)

LinearSVC()

#Evaluation of Model

In [84]:
# prediction on train data

prediction_train = model.predict(X_train_features)
accuracay_train = accuracy_score(Y_train, prediction_train)
print("Accuracy on Train data: ",accuracy_train)

Accuracy on Train data:  0.9995163240628778

In [85]:
# prediction on test data
 
prediction_test = model.predict(X_test_features)
accuracy_test = accuracy_score(Y_test, prediction_test)
print("Accuracy on Test data: ",accuracy_test)

Accuracy on Test data:  0.9835589941972921

# Prediction

In [86]:
new_input_mail = [" CALL to No: 86888 & claim your reward of 3 hours talk time to use from your phone now! Subscribe6GBP/mnth inc 3hrs 16 stop?txtStop www.gamb.tv"]
input_mail_feature = feature_extraction.transform(new_input_mail)
prediction = model.predict(input_mail_feature)
prediction
 
if (prediction[0] ==1):
  print("SPAM MAIL")
else:
  print("HAM MAIL")

SPAM MAIL

In [87]:
new_input_mail = ["Really do hope the work doesnt get stressful. Have a gr8 day."]
input_mail_feature = feature_extraction.transform(new_input_mail)
prediction = model.predict(input_mail_feature)
prediction
 
if (prediction[0] ==1):
  print("SPAM MAIL")
else:
  print("HAM MAIL")

HAM MAIL